html, body, #wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(img/bg4.png) no-repeat center/cover;
    color: white;
}

h1, p {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    margin: 150px auto 0;
    font-size: 60px;
}

p {
    margin: 40px auto 0;
    font-size: 20px;
}
#ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 210px;
    background: url("img/ground.png") repeat-x bottom/auto 210px;
}

#charBox {
    position: absolute;
    bottom: 100px;
    right: 200px;
    width: 144px;
    height: 144px;
}

#move {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("img/thunder.png") no-repeat;
    background-origin: top left;
    background-position: 0 0;
    animation: stay 1s steps(5) infinite;
    /*animation: jump .7s steps(5) infinite;*/
    /*animation: run .7s steps(6) infinite;*/
    /*animation: push .6s steps(5) infinite;*/
}

@keyframes stay {
    from {background-position: 0 0;}
    to {background-position: -720px 0;}
}

@keyframes jump {
    from {background-position: 0 -144px;}
    to {background-position: -720px -144px;}
}

@keyframes run {
    from {background-position: 0px -288px;}
    to {background-position: -864px -288px;}
}

@keyframes push {
    from {background-position: 0 -432px;}
    to {background-position: -720px -432px;}
}